name: Continuous Integration
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Java  
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build    
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: build
      - name: Sonar
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: gradle -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR_TOKEN -Dsonar.organization=guardsquare -Dsonar.projectKey=Guardsquare_proguard-core sonarqube
        env:
          GITHUB_TOKEN: ${{ secrets.PROGUARD_GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.PROGUARD_SONAR_TOKEN }}
