name: Continuous Integration
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Assemble
        uses: gradle/gradle-build-action@v2
        with:
          arguments: assemble
      - name: Build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build testAllJavaVersions jacocoTestReport
      - name: Sonar
        uses: gradle/gradle-build-action@v2
        run: ./gradlew -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR_TOKEN -Dsonar.organization=guardsquare -Dsonar.projectKey=Guardsquare_proguard-core sonarqube --info
        env:
          GITHUB_TOKEN: ${{ secrets.PROGUARD_GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.PROGUARD_SONAR_TOKEN }}
