on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker run --user `id -u` --volume $GITHUB_WORKSPACE/docs:/docs squidfunk/mkdocs-material:5.2.2 build
      - name: Publish to Github pages
        working-directory: docs/html
        run: |
          git init
          git config user.name "gitsquare-ci"
          git config user.email "gitsquare-ci@guardsquare.com"
          git add .
          git commit -m "Deploy documentation to Github pages"
          git push --force --quiet https://${{secrets.PROGUARD_GITHUB_TOKEN}}@github.com/Guardsquare/proguard-core master:gh-pages